doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css' rel='stylesheet')
        link(href='/css/main.css' rel='stylesheet')
        title Bokyak
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-success
            .container-fluid
                a.navbar-brand(href='/feed') Bokyak
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link.active(type='submit' aria-current='page' href='/auth/logout') Logout

        #body-content
            h4 #{post.content}
            h6 #{post.timeSince}

            #comments
                hr
                each comment in post.comments
                    .col-4.like-square
                        if !comment.currentUserLikesComment
                            form(action='/feed/' + comment.commentId + '/like' method='POST')
                                input(type="hidden" name="userId" value=userId)
                                button.btn(type='submit')
                                    i.h3.bi.bi-hand-thumbs-up
                        else
                            form(action='/feed/' + comment.commentId + '/like' method='POST')
                                input(type="hidden" name="userId" value=userId)
                                button.btn(type='submit')
                                    i.h3.bi.bi-hand-thumbs-up-fill

                        h3 #{comment.score}

                        if !comment.currentUserDislikesComment
                            form(action='/feed/' + comment.commentId + '/dislike' method='POST')
                                input(type="hidden" name="userId" value=userId)
                                button.btn(type='submit')
                                    i.h3.bi.bi-hand-thumbs-down
                        else
                            form(action='/feed/' + comment.commentId + '/dislike' method='POST')
                                input(type="hidden" name="userId" value=userId)
                                button.btn(type='submit')
                                    i.h3.bi.bi-hand-thumbs-down-fill

                    .col-8.comment-content
                        | #{comment.content}
                        .extra-data
                            | #{comment.timeSince}
                    hr

        hr
        form.comment-box(action="/feed/" + post.postId + "/comment", method="POST")
            .form-group
                textarea.form-control(rows='3' name='content' placeholder="Got a reply?")
            input.sm-margin-top(type="submit" value="Post")

        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')